
#main {
    width: 70%;
    height: 100%;
}

#right {
    background-color: #2d3748;
}

#sketchCanvas {
    vertical-align: top;
}

/* The popup form for uploads - hidden by default */
.form-popup {
    display: none;
    position: static;
    bottom: 0;
    z-index: 9;
}

body {
    padding: 0;
    margin: 0;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}




